
	<h3>Recipe</h3>
	<div class="col-md-5">
		<hr>
		<h4>Recipe List</h4>
		<app-recipe-list 
		(recipeWasSelected)="recipeSelection($event)" ></app-recipe-list>
	</div>
	<div class="col-md-7">
		<hr>
		<h4>Recipe Detail</h4>
		<app-recipe-detail 
		*ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe" (ingredientAdded)="ingredientAdd($event)"></app-recipe-detail>
      <ng-template #infoText id="noRecipeSelected"><p>Select a Recipe to Display the detail</p></ng-template>
	</div>	
