<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header [items]="menuItems" (itemSelected)="onSelection($event)"></app-header>
      <div class=row >
        <router-outlet></router-outlet>
      <!--
        <div class="col-xs-12" [ngClass]="{hide:itemMenu!='Home Control'}">
          <app-home-control></app-home-control>
        </div>
        <div class="col-xs-12" [ngClass]="{hide:itemMenu!='Recipe'}">
          <app-recipe (ingredientAddToSL)="onAddingElementFromRecipe($event)"></app-recipe>
        </div>
        <div class="col-xs-12" [ngClass]="{hide:itemMenu!='Shopping List'}">
          <app-shopping-list [ing]="elemToAdd"></app-shopping-list>
        </div>
        <div class="col-xs-12" [ngClass]="{hide:itemMenu!='Calendar'}">
          <app-calendar></app-calendar>
        </div>
      -->

      </div>
    </div>
  </div>
</div>